body, html{
    box-sizing: border-box;
    height: auto;
    max-width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
}

/* Nav CSS */
nav {
    letter-spacing: 2px;
    /* word-spacing: 24px; */
    font-size: 18px;
    z-index: 1;
    background: #8d6852;
    color: #180f0c;
    opacity: 0.9;
}

.navbar a {
    color: #1a110e;
    font-size: 18px;
}

.navbar #form {
    color: #1a110e;
    font-size: 18px;
}


/* Hero CSS */

.hero-image{
    background-image: url("/images/gallery/gallery.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

    .hero-text{
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* border: #4e3d3d6b; */
        padding-top: 10px;
        width: auto;
    }

    .hero-text h1{
        font-size: 40px;
        font-weight: 900;
        margin: 0;
        color: #ffffff;
        background: #270b02d2;
        border-radius: 5px;
        letter-spacing: 12px;
    }

    .hero-text p{
        font-size: 28px;
        color: rgb(0, 0, 0);
    }

    .btn:hover{
        opacity: 0.8;
    }

/* FIRST CONTENT CSS */
.fContent-container {
    max-width: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    grid-auto-rows: 500px;
    background: #dadada;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 250px;
    padding-bottom: 250px;
}

    .fContentImage {
        background-image: url("/images/gallery/Gallery_interior.jpg");
        background-size: auto 500px;
        background-repeat: no-repeat;
        height: auto;
        width: auto;
    }

    .fContent1 {
        color: #462e25;
        font-size: 35px;
        text-align: center;
        padding-top: 200px;
        padding-left: 80px;
        
    }


/* SECOND CONTENT CSS */
.sContent-container {
    background-image: url("/images/gallery/GodSculpture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
    width: auto;
    height: 70vh;
}

/* THIRD CONTENT CSS */
.tContent-container {
    max-width: 1920px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    /* gap: 10px; */
    grid-auto-rows: 500px;
    font-family: 'Times New Roman', Times, serif;
}

    .tContentImage {
        background-image: url("/images/gallery/artist.jpg");
        background-size: 650px 500px;
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        margin-left: 150px;
        margin-right: 90px;
        position: relative;
    }

    .tContent {
        background: #ffffff;
        text-align: left;
        padding-top: 80px;
        padding-right: 250px;
        padding-left: 100px;
    }

    .tContent p {
        font-size: 18px;
        color: #724a3c;
    }

    .tContent h1 {
        font-size: 50px;
        font-weight: 400;
        color: #462e25;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .tContent p span {
        font-size: 18px;
        color: #ac664c;
        font-family: Verdana, sans-serif;
    }

/* MAIN CONTENT CSS */

.mainContent {
    background: #f8f8f8;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.mainContent p {
    color: #180f0c;
    font-size: 24px;
    padding-top: 120px;
    font-family: 'Times New Roman', serif;
}

.mainContent h1 {
    font-size: 50px;
    font-weight: 400;
    padding: 18px;
}

.mainContent h4 {
    font-size: 18px;
    padding-bottom: 150px;
}

.title-container {
    max-width: auto ;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #e7e7e7;
}

    .title {
        font-size: 20px;
        color: #462e25;
    }

    .title-caption h1 {
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: 600;
        color: #180f0c;
    }
    .title-caption h4 {
        font-size: 14px;
        color: #180f0c;
        font-family: Verdana, sans-serif;
    }




.content-container {
    max-width: auto;
    padding-top: 200px;
    padding-bottom: 300px;
    font-family: 'Times New Roman', Times, serif;
    /* background: #e7e7e7; */
    display: grid;
    grid-template-columns: 1fr 1fr;
        /* gap: 10px; */
    grid-auto-rows: 600px;
}

    .imageA img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
        padding-left: 50px;
    }
    
    .contentA {
        text-align: left;
        padding-left: 200px;
        padding-right: 150px;
        padding-top: 200px;
    }


    .imageB img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* padding-top: 60px;
        padding-right: 100px; 
        padding-left: 50px; */
    }
    
    .contentB {
        text-align: left;
        padding-left: 120px;
        padding-right: 200px;
        padding-top: 150px;
    }

    




/* Footer CSS */

.footer-container {
    max-width: 1920px;
    padding-top: 20px;
    margin: 10px;
}

.footer-top{
    max-width: 1920px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    /* gap: 10px; */
    grid-auto-rows: 600px;
}

    .footer-image1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.863),
        #462e258f), url("/images/mainImages/footer1.jpg");
        background-size: 760px 600px;
        opacity: 0.8;
        height: auto;
        width: 50vw;
        padding: 0;
    }

        .footer-title {
            color: #dadada;
            font-size: 48px;
            text-align: center;
            padding-top: 200px;
        }
        
        .social-media {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .social-media li {
            margin: 22px;
        }


    .footer-image2{
        background-image: linear-gradient(rgba(0, 0, 0, 0.863),
        #462e258f), url("/images/mainImages/footer2.jpg");
        background-size: 760px 600px;
        opacity: 0.8;
        height: auto;
        width: 50vw;
        padding-left: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #dadada;
    }

        .footer-title2 {
            font-size: 48px;
        }

        .footer-caption2 {
            font-size: 24px;
        }
      
        .footer-form {
            padding-bottom: 5px;
        }

        .form-holder input {
            background: #f5cfc2ce;
            border: 0;
            color: #000000;
        }

        .form-holder textarea {
            background: #ffd5c6ef;
            border: 0;
            color: #000000;
        }

        .form-holder button {
            background: #240c03;
            color: white;
            border: 0;
            border-radius: 15px;
        }

